{% extends 'base.html' %}

{% block content %}
    <h1>Welcome to the Movie Database</h1>
    <p>Explore our comprehensive Movie Database, where you can seamlessly manage and discover information about your favorite movies and actors. The intuitive navigation provides quick access to three main sections: <strong>Movies</strong> , <strong>Actors</strong>, <strong>Box Analysis</strong> and <strong>Box Prediction</strong>.</p>

    <h2>Movies:</h2>
    <p>Discover details about a vast array of movies, including release dates, countries of origin, genres, and more. Use the search, edit, add, and delete functionalities to tailor your movie list to your preferences.</p>

    <h2>Actors:</h2>
    <p>Uncover insights into the world of actors with our Actor Database. Search for actors, edit their information, add new talents, or remove entries. Dive into the extensive network of movie-actor relationships and explore their contributions to the cinematic world.</p>

    <h2>Box Analysis:</h2>
    <p>Discover Box Analysis, a functionality designed to examine movie-related data. This feature provides insights into various attributes such as movie name, type, IQIYI score, Douban score, and box office performance.</p>

    <h2>Box Prediction:</h2>
    <p>Explore Box Prediction, a feature that employs a Random Forest model to forecast global box office revenues for movies. Utilizing data from The Movie Database (TMDB) website, predictions encompass worldwide financial performance. Note that for foreign films, variations may exist compared to original Chinese mainland box office figures in the database.</p>


    <p>Whether you're a movie enthusiast or a data connoisseur, our Movie Database provides a user-friendly platform to interact with and manage your favorite films and the talented individuals who bring them to life. Enjoy the journey of exploration and discovery!</p>
    <img alt="Popcorn" class="popcorn" src="{{ url_for('static', filename='images/popcorn.png') }}" title="popcorn">
{% endblock %}
